<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTM Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>UTM Tracker</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('admin.admin') }}">Admin</a>
            <a href="{{ url_for('admin.utm_data') }}">UTM Data</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Include the JavaScript file here -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
